/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
public/css/*.css.map
public/js/dist/bundle.js
public/js/bundle.js
public/js/dist/bundle.js.map
public/js/dist/bundle.min.js
public/js/dist/bundle.min.js.map
dbmodel.mwb
dbmodel.mwb.bak