/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
resources/assets/js/lib/pictureGame/__tests__/coverage/
resources/assets/js/lib/pictureGame/__tests__/reporter/
Homestead.json
Homestead.yaml
.env
public/css/*.css.map
public/css/*
public/js/dist/bundle.js
public/js/bundle.js
public/js/dist/bundle.js.map
public/js/dist/bundle.min.js
public/js/dist/bundle.min.js.map
dbmodel.mwb
dbmodel.mwb.bak
composer.lock
.phpintel/
npm-debug.log
errorShots/*
