.admin-body {
    padding: 24px 24px 24px 0 !important;
}

.admin-table-bar {
    padding: 0 0 10px 0;
    text-align: center;

    .admin-create {

    }
}

.admin-sidebar {
    border-right: 1px solid #ddd;
    padding: 0 !important;
    height: 100%;
}
