.admin-body {
    padding: 24px 24px 24px 0 !important;
}

.admin-table-bar {
    padding: 0 0 10px 0;
    text-align: center;

    .admin-create {

    }
}

.admin-sidebar {
    border-right: 1px solid #ddd;
    padding: 0 !important;
    height: 100%;
}

.admin-profil{
    height: 160px;
    width: 100%;
}

.admin-profil-name{
    display: block;
    text-align: center;
    padding: 15px;
}

.admin-td {
}

.admin-td-id {
}

.admin-td-title {
}

.admin-td-start {
}

.admin-td-end {
}

.admin-td-state {
}

.admin-td-eventsBtn {
    overflow: visible !important;
}

.block-picker {
    margin-top: 15px;
}
