.home-carousel{
    position: relative;
    overflow: hidden;

    .title-wrapper{
        color: white;
        position: absolute;
        z-index: 1;
    }

    h1{
        font-size: 45px;
        font-weight: 800;
        display: block;
        text-align: center;
    }

    .home-carousel-button{
        margin: 12px;
    }

    .image-wrapper{
        height: 78vh;
        min-height: 450px;

        img{
            object-fit: cover;
            width:100%;
        }
    }
}
