.navbar-mui-wrapper{
    position: fixed;
    top:0;
    right:0;
    z-index:1000;
    width:100%;

    .navbar-mui-right{
        padding-right: 45px !important;
        line-height: 42px !important;
        color: white !important;
        margin-top: -8.5px !important;
        display: flex;
        align-items: center;
        justify-content: center;

        span{
            color:white !important;
        }
    }

    .navbar-mui-open-wrapper{
        position:absolute;
        top:0;
        right:0;
        z-index:2000;
    }

    .navbar-mui{
        position:fixed !important;
        top:0 !important;
        width:100% !important;
        height:42px;

        h1{
            height: 42px !important;
            line-height: 42px !important;
        }
    }

    .navbar-mui.navbar-mui-out{
        transform: translateY(-110%) !important;
    }
}
