.navbar-mui-wrapper{
    position: fixed;
    top:0;
    right:0;
    z-index:1000;
    width:100%;

    .navbar-mui-open-wrapper{
        position:absolute;
        top:0;
        right:0;
        z-index:2000;
    }

    .navbar-mui{
        top:0 !important;
        width:100% !important;
    }

    .navbar-mui.navbar-mui-out{
        transform: translateY(-110%) !important;
    }
}
