.sub-menu{
    padding: 25px 15px;
    .left-div{
        margin-bottom: 15px;
        h1{
            text-transform: uppercase;
            padding:0;
        }
        span{
            line-height: 30px;
        }
        .sub-menu-search{
            position:absolute;
            left:0;
            bottom:10px;
            opacity:.6;
        }
        .sub-menu-autocomplete{
            padding-left:35px;
            overflow:hidden;
        }
    }

    .sub-menu-img-cover{
        display: block;
        max-width: 100%;
        margin: 0 auto;
        object-fit: cover;
    }

    .right-div{
        h4{
            font-weight: 800;
            text-transform: uppercase;
        }
        ul{
            padding:5px 14px;
            text-align:left;
        }
    }
}
