.gridLayout{
    .gridRow {
        -moz-column-width: 18em;
        -webkit-column-width: 18em;
        margin: 0 10px;
    }

    .gridItem {
        margin-top:8px;
        display: inline-block;
        width:  100%;
    }

    .gridWell {
        position:relative;
        display: block;

        img{
            border-radius: 5px;
        }
    }
}
